@model PetrolPumpManagerApp.Models.Expences

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm("Create","Expences"))
{
    @Html.AntiForgeryToken()


    <div class="card mt-4 border">
        <div class="card-header bg-white"><h4><b>Daily Expence</b></h4></div>

        <div class="card-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div style="margin:auto" class="col-lg-7 col-md-12 col-sm-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.StaffId, htmlAttributes: new { @class = "control-label col-md-2" })

                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.StaffId, new SelectList(ViewBag.StaffList, "StaffID", "FullName"), "--Select--", new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.StaffId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                  

                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                @Html.HiddenFor(m => m.ExpenceID)

                                <input type="submit" value="Save" class="btn btn-primary mt-4 pl-4 pr-4" />
                            </div>
                            <div class=" col-md-2">
                                <input type="reset" value="Clear" class="btn btn-outline-warning mt-4 pl-4 pr-4" />
                            </div>

                        </div>

                    </div>


                </div>

            </div>
        </div>
        <div class="btn" style="-webkit-border-top-right-radius: 70px; -webkit-border-bottom-right-radius: 70px; -moz-border-radius-topright: 70px; -moz-border-radius-bottomright: 70px; border-top-right-radius: 70px; border-bottom-right-radius: 70px; width: 150px; background-image: linear-gradient(to right, rgb(137, 20, 254) 0%, rgb(128, 99, 245) 100%) ">
            <i class="ti-arrow-left" style="color:white"></i>   @Html.ActionLink("Back to List", "Index", "", htmlAttributes: new { @class = "text-white" })
        </div>

    </div>



}

