@model IEnumerable<PetrolPumpManagerApp.Models.ProductRate>

@{
    ViewBag.Title = "RateList";
}




<div class="card mt-4 border">
    <div class="card-header bg-white"><h4><b>Rates</b></h4></div>

    <div class="card-body">
        @if (Model != null)
        {
            <table class="table">
                <tr class=" text-white" style="background-image: linear-gradient(to right, rgb(137, 20, 254) 0%, rgb(128, 99, 245) 100%) ">
                    <th>
                        @Html.DisplayNameFor(model => model.Product)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Varience)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rate)
                    </th>
                    <th>Edit</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Varience)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rate)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item.ID }, htmlAttributes: new { @class = "fa fa-edit text-wornnig" }) |

                            @Html.ActionLink(" ", "delete", new { id = item.ID }, htmlAttributes: new { @class = "ti-trash" })
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <p class="p-3 alert-danger">No Rates please add new machine</p>
        }

    </div>

    <div class="btn" style="-webkit-border-top-right-radius: 70px; -webkit-border-bottom-right-radius: 70px; -moz-border-radius-topright: 70px; -moz-border-radius-bottomright: 70px; border-top-right-radius: 70px; border-bottom-right-radius: 70px; width: 150px; background-image: linear-gradient(to right, rgb(137, 20, 254) 0%, rgb(128, 99, 245) 100%) ">
        <i class="ti-plus" style="color:white"></i>   @Html.ActionLink("Add New", "Rate", "", htmlAttributes: new { @class = "text-white" })
    </div>
</div>