
@model IEnumerable<PetrolPumpManagerApp.ViewModels.MachineCreateViewModel>


@{
    ViewBag.Title = "Index";
}

<div class="card mt-4 border">
    <div class="card-header bg-white"><span class="font-weight-bold h3" style="color:  rgb(137, 20, 254)">Mach</span><span class="font-weight-bold h3" style="color:black">ines</span></div>
    <div class="card-body">
        @if (Model != null)
        {
            foreach (var item in Model)
            {

                <div class="card  border p-3 mb-5 bg-body rounded container col-10" style="border-radius:70px; box-shadow: #dedddd 10px 10px 15px ">
                    <div class="row">
                        <div class="col-2">
                            <img src="~/FrontEnd/Untitled.png" class="mt-4" />
                        </div>
                        <div class="col-10">
                            <div class="p-1">
                                <div class="row">
                                    <div class="col  p-1"> Machine :&nbsp; @Html.DisplayFor(modelItem => item.MachineModel.MachineName)</div>
                                </div>
                                <div class="row">
                                    <div class="col  p-1">Machine Number :&nbsp;@Html.DisplayFor(modelItem => item.MachineModel.MachineNumber)</div>
                                </div>
                                <div class="row">
                                    <div class="col p-1  ">
                                        Machine Nozzels :&nbsp;
                                    </div>
                                    <div class="col-sm-2 col-md-10">
                                        @foreach (var i in item.MachineNozzels)
                                        {
                                            if (item.MachineModel.MachineID == i.MachineId)
                                            {
                                                <span class="p-2 border-left border-right bg-light m-1">@Html.DisplayFor(modelItem => i.NozzelName)  &nbsp; </span>
                                            }


                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col p-1">
                                    @Html.ActionLink(" ", "Edit", new { id = item.MachineModel.MachineID }, new { @class = " btn btn-outline-primary  fa fa-edit " }) &nbsp; &nbsp;&nbsp; &nbsp;
                                    @Html.ActionLink(" ", "Delete", new { id = item.MachineModel.MachineID }, new { @class = "btn btn-danger text-white ti ti-trash " })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        }
        else
        {
            <p class="p-3 alert-danger">No Machine please add new machine</p>
        }
    </div>
    <div class="btn" style="-webkit-border-top-right-radius: 70px; -webkit-border-bottom-right-radius: 70px; -moz-border-radius-topright: 70px; -moz-border-radius-bottomright: 70px; border-top-right-radius: 70px; border-bottom-right-radius: 70px; width: 150px; background-image: linear-gradient(to right, rgb(137, 20, 254) 0%, rgb(128, 99, 245) 100%) ; ">
        <i class="ti-plus" style="color:white"></i>   @Html.ActionLink("Add New", "Create", new { area = "" }, new { @class = "text-white" })
    </div>
</div>
