<!DOCTYPE html>


<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PumpBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="~/FrontEnd/srtdash/assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="~/FrontEnd/srtdash/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/FrontEnd/srtdash/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/FrontEnd/srtdash/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/FrontEnd/srtdash/assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/FrontEnd/srtdash/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/FrontEnd/srtdash/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="~/FrontEnd/srtdash/assets/css/typography.css">
    <link rel="stylesheet" href="~/FrontEnd/srtdash/assets/css/default-css.css">
    <link rel="stylesheet" href="~/FrontEnd/srtdash/assets/css/styles.css">
    <link rel="stylesheet" href="~/FrontEnd/srtdash/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/FrontEnd/srtdash/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">

        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div >
                    <a href="index.html"><span class="font-weight-bold h2" style="color:  rgb(137, 20, 254)">Pump</span><span class="font-weight-bold h3" style="color:white">Book</span></a>
                </div>
            </div>
            <div class="main-menu">

                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active">
                          <p class="ti-agenda"></p>  @Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, new { @class = " navbar-brand" })
                            </li>
                            <!--Html.ActionLink("Link Display Name", "Action Name", "Cntroller NAme", new { area = "" }, new { class = "navbar-brand" })-->

                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><span class="ti-pencil-alt"></span><span>Rate/Dip Reading</span></a>
                                <ul class="collapse">
                                    <li> @Html.ActionLink("Rate Change", "Create", "ProductRate", new { area = "" }, new { @class = "navbar-brand" })</li>

                                    <li> @Html.ActionLink("DipMesure", "DipMesure", "Pump", new { area = "" }, new { @class = "navbar-brand" })</li>

                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><span class="ti-agenda"></span><span>Day Entries</span></a>
                                <ul class="collapse">
                                 
                                    <li> @Html.ActionLink("Meter Reading", "Create", "SalesManagment", new { area = "" }, new { @class = "navbar-brand" })</li>
        
                                    <li> @Html.ActionLink("Expence", "Create", "Expences", new { area = "" }, new { @class = "navbar-brand" })</li>

                                </ul>
                            </li>

                            <li>
                                <a href="javascript:void(0)" aria-expanded="true">  <span class="ti-user"></span><span>Manage People</span></a>
                                <ul class="collapse">
                                    <li> @Html.ActionLink(" User", "AddUser", "ManagePeople", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li> @Html.ActionLink(" Staff", "Index", "StaffManagment", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li> @Html.ActionLink("Staff Leaves", "StaffLeave", "ManagePeople", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li> @Html.ActionLink("Suppliers", "Index", "Supplier", new { area = "" }, new { @class = "navbar-brand" })</li>

                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true">  <span class="ti-plus"></span><span>Add New</span></a>
                                <ul class="collapse">
                                    <li> @Html.ActionLink("Tankers", "Index", "TankerManagment", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li> @Html.ActionLink("Machine", "Create", "Machine", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li> @Html.ActionLink("Purchase", "Index", "ProductManagment", new { area = "" }, new { @class = "navbar-brand" })</li>
                                </ul>
                            </li>
                          
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><span class="ti-pie-chart"></span><span>Reports</span></a>
                                <ul class="collapse">
                                    <li> @Html.ActionLink("Tanker Reports", "GetEmployee", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li> @Html.ActionLink("Machine Reports", "GetEmployee", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li> @Html.ActionLink("Suppliers Reports", "GetEmployee", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li> @Html.ActionLink("Sales Reports", "GetEmployee", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                    <li> @Html.ActionLink("Month sale Reports", "GetEmployee", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>

                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">

            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>

                    </div>
                    <!-- profile info & task notification -->
                   <!-- code about email Notidication bell icon and settings-->



                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li><span>Dashboard</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="~/FrontEnd/srtdash/assets/images/author/avatar.png" alt="avatar">
                            <h4 class="user-name" >Shweta<i class="fa fa-angle-down"></i></h4>
                          
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <!--Diynamic Content Area start-->
            <div class="main-content-inner">
                @RenderBody()
            </div>
            <!--Diynamic Content Area End-->


        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
              
            </div>
        </footer>
        <!-- footer area end-->

    </div>
    <!-- page container area end -->
 
    <!-- jquery latest version -->
    <script src="~/FrontEnd/srtdash/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/FrontEnd/srtdash/assets/js/popper.min.js"></script>
    <script src="~/FrontEnd/srtdash/assets/js/bootstrap.min.js"></script>
    <script src="~/FrontEnd/srtdash/assets/js/owl.carousel.min.js"></script>
    <script src="~/FrontEnd/srtdash/assets/js/metisMenu.min.js"></script>
    <script src="~/FrontEnd/srtdash/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/FrontEnd/srtdash/assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="~/FrontEnd/srtdash/assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="~/FrontEnd/srtdash/assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="~/FrontEnd/srtdash/assets/js/plugins.js"></script>
    <script src="~/FrontEnd/srtdash/assets/js/scripts.js"></script>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>







